{% extends 'base.html' %}


{% block content %}

<div class="container">

    <h1 class="mt-2">Your Blogs</h1>


    <div class="d-flex flex-column align-items-center gap-3 mt-4">
        {% for b in blogs %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <a href="{% url 'blog-detail' b.id %}" style="text-decoration: none; color: black;">
                    <h5 class="card-title">{{ b.title }}</h5>
                </a>
                <p class="card-text">{{ b.views }} | {{ b.created_at|date:"H.i" }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}